.about {
    background-color: #1f1f1f;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
}

.pad-bottom-container > p {
    margin: 0 auto;
    font-size: 22px;
    margin-bottom: 20px;
    display: inline;
}

hr {
    background-color: #efa8ea;
    width: 90%;
    height: 0.5px;
    border: none;
}

.about {
    display: block;
    font-size: 20px;
    width: 800px;
}

.toggle:hover {
    cursor: pointer;
    color: #efa8ea
}

.pad-bottom-container {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 800px;
}