.about {
    background-color: #1f1f1f;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
}

.home-block > p {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 0px;
}

.about > li {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

hr {
    background-color: #efa8ea;
    width: 90%;
    height: 0.5px;
    border: none;
}