.admin-button{
    border-color: rgb(63, 128, 128);
    border-bottom-color: rgb(63, 128, 128);
}

.admin-label {
    font-size: 25px;
}

.admin-input {
    width: 100%;
    font-size: 25px;
    background-color: #1f1f1f;
    color: #F0F6FA;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(63, 128, 128);
}

.admin-form{
    font-size: 20px;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px
}

.loading-msg {
    color: rgb(63, 128, 128);
    font-size: 20px;
}

.user-name {
    width: 26%;
    display: inline-block;
}

.email {
    width: 26%;
    display: inline-block;
}

.verified-status {
    width: 15%;
    display: inline-block;
}

.admin-status {
    width: 15%;
    display: inline-block;
}

.toggle-user {
    height: 40px;
    border-radius: 15px;
    border: 1px solid rgb(63, 128, 128);
    background-color: #1F1F1F;
    color: #F0F6FA;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    align-items: middle;
}

.deactivated-status {
    width: 15%;
    display: inline-block;
}

.table-row-2 {
    border-color: rgb(63, 128, 128);
}

.table-row-2:hover {
    color: rgb(63, 128, 128);
    background-color: #1f1f1f;
}