.navbar {
    background-color: #b100a5;
    text-align: left;
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.admin {
    background-color: rgb(63, 128, 128);
}

.navbar > li {
    display: inline-block;
    list-style: none;
    height: 60px;
    font-size: 22.5px;
    padding-top: 20px;
    text-align: center;
    padding-left: 40px;
}

.link {
    text-decoration: none;
    color: #F0F6FA;
    vertical-align: middle;
    font-weight: 400;
}

.active {
    color: #f6a5fc;
}

.right-display {
    float: right;
    padding-right: 30px;
}