.list-title {
    width: 24%;
}

.date-modified {
    width: 20%;
}

.username {
    width: 19%;
}

.playtime {
    width: 15%;
}

.num-tracks {
    width: 10%;
}

.rating {
    width: 9%;
}

.table-row-2 {
    border-color: #ffe9e9;
}

.table-row-2:hover {
    color: #f397ff;
    background-color: #1f1f1f;
}

.table-header-2 {
    color: #ffe9e9;
    border-color: #ffe9e9;
}

.top-pad {
    margin-top: 7.5px;
}

.sub-table {
    margin-top: 0px;
    padding-bottom: 15px;
}

.no-pad {
    margin-bottom: 0px;
}

.success-msg{
    color: #6ab743;
    display: block;
}

.error-msg {
    color: #b74343;
    display: block;
}

.loading-msg {
    color: #f397ff;
    font-size: 20px;
}

.view-review-box {
    background-color: #393939;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 400px;
}

.view-review-box > p {
    padding-bottom: 0px;
    display: block;
}

.review-heading {
    font-size: 30px;
    font-weight: 600;
}

.review-sub {
    width: fit-content
}