.narrow {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.wide {
    width: 100%;
    border: 1px solid red;
}

.pad-bottom {
    margin-bottom: 10px;
}

.heavy-bottom-pad {
    margin-bottom: 30px;
}

.form > label {
    font-size: 22px;
    margin: 0px;
    padding-bottom: 0px;
}

.form > input {
    font-size: 22px;
    width: 97.5%;
}

.form > .sub {
    font-size: 15px;
    font-style: italic;
}

.form > .sub-bottom {
    padding-bottom: 10px;
}

.no-results-container {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}

.no-margin { 
    margin-left: 10px;
    width: fit-content;
}