html {
    background-color: #1F1F1F;
    color: #F0F6FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form,
label,
select,
option,
input,
button,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    height: 0px;
    display: none;
}

.visible {
    height: auto;
    display: block;
}

input:focus {
    outline: none;
}

input[type='text'] {
    font-size: 17px;
}

.align-items {
    text-align: center;
}

h1 {
    text-align: center;
}

.login {
    font-size: 19px;
    display: inline-block;
}

.login-form input {
    border: none;
    background-color: #1F1F1F;
    color: #F0F6FA;
    height: 40px;
    width: 200px;
    display: inline-block;
    margin-left: 15px;
    border-bottom: 1px solid #b100a5;
}

.login-form input:focus {
    border-color: #f99cf3;
}

.login-form > button {
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-size: 19px;
    background-color: #b100a5;
    color: #F0F6FA;
    border: 1px;
    border-radius: 10px;
}

.login-form > button:hover {
    background-color: #f99cf3;
    color: #1F1F1F;
}

.create-account {
    font-size: 13px;
    text-decoration: underline;
}

.create-account:hover {
    cursor: pointer;
}

.navbar {
    width: auto;
    height: 40px;
    display: inline-block;
    margin-left: 20px;
    padding: 0px;
    vertical-align: top;
}

#navbar li {
    width: auto;
    text-align: center;
    height: 30px;
    background-color: #1F1F1F;
    display: inline-block;
}

#navbar a {
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #F0F6FA;
}

#navbar .active {
    border-bottom: 2px solid #b100a5;
    border-radius: 0px;
}

#navbar ul {
    font-size: 0;
    display: inline-block;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}